*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}
body {
    width: 100vw;
}

#Accueil {
    font-size: var(--titre-site);
    font-family: var(--font-titre);
    color: white;
    padding-top: 200px;
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    letter-spacing: 5px;
}

#illustration {

    z-index: -1;
    padding-top: 100px;
    height: 700px;
    width: 100%;
}

h1  {
    font-size: var(--titre-de-page);
    font-family: var(--font-titre);
}

h2 {
    font-size: var(--titre-h2);
    font-family: var(--font-titre);
    text-align: center;
}

.intro>p {
    font-size: var(--intro-du-site);
    font-family: var(--font-texte);
    margin-top: 50px;
    margin-right: 17,5px;
    margin-left: 17,5px;
}

.menu__link {
    font-size: 14px;
    font-family: var(--font-texte);
    font-weight: 275px;
    text-align: center;
}

.menu__item {
    text-align: center;
    letter-spacing: 2px;
    padding: auto;

}

p {
    font-size: var(--textes);
    font-family: var(--font-texte);
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.caroussel {
    display: flex;
}

#mmi {
    color: var(--violet-maquette);
}

.ftr {
    color: white;
}