*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}
body {
    width: 100vw;
    overflow-x: hidden;
}

#Accueil {
    font-size: var(--titre-site);
    font-family: var(--font-titre);
    color: white;
    padding-top: 200px;
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    letter-spacing: 5px;
}

#illustration {

    z-index: -1;
    padding-top: 100px;
    height: 700px;
    width: 100%;
}

h1  {
    font-size: 26px;
    font-family: var(--font-titre);
    padding-top: 150px;
    text-align: center;
}

h2 {
    font-size: var(--titre-h2);
    font-family: var(--font-titre);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

h3 {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.introa>p {
    font-size: var(--intro-du-site);
    font-family: var(--font-texte);
    margin-top: 50px;
    margin-right: 17,5px;
    margin-left: 17,5px;
}

.menu__link {
    font-size: 14px;
    font-family: var(--font-texte);
    font-weight: 275px;
    text-align: center;
}

.menu__item {
    text-align: center;
    letter-spacing: 2px;
    padding: auto;

}

p {
    font-size: var(--textes);
    font-family: var(--font-texte);
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.caroussel {
    display: flex;
    overflow-x: scroll;
}

.caroussel>div>img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin: 0 4rem;

}

#mmi {
    color: var(--violet-maquette);
    transition: all .3s ease-in-out;
}

#mmi:hover {
    transform: scale(1.1);
}

.ftr {
    color: white;
}

img {
    width: 100vw;
}

.frise {
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    margin: 50px;
}

button {
   width: 100px;
   height: 30px;
   margin-left: 140px;
}

input {
    margin: 20px;
    background-color: gainsboro;
    width: 150px;
    height: 40px;
}

article>a {
    text-decoration: none;
    background-color: none;
    border-color: violet;
    border: 1rem;
    border-radius: 10px;
}

.langm1 {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin-left: -260px;
    margin-top: -720px;
    position:fixed;
    padding: 1rem;
}

.langm2 {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin-left: -100px;
    margin-top: -720px;
    position:fixed;
    padding: 1rem;
}