img {
  max-width: 100vw;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
  text-align: center;
  padding: 10rem;
}

iframe {
  padding-bottom: 50px;
}