:root {

    /* Color styles */
--gris-maquette: rgba(60, 60, 60, 1);
--blanc-maquette: rgba(253, 253, 253, 1);
--violet-maquette: rgba(185, 129, 209, 1);
--bleu-maquette: rgba(84, 201, 232, 1);
--vert-maquette: rgba(151, 255, 161, 1);
--rose-maquette: rgba(240, 135, 207, 1);

    /* Text-size styles */
--titre-site: 40px;
--titre-site-footer-texte-séparation-et-menu: 24px;
--titre-de-page: 24px;
--dates-du-site: 20px;
--textes: 16px;
--intro-du-site: 20px;
--tweets: 16px;
--intro-section: 16px;
--footer-texte: 14px;
--footer-graisse-texte: 14px;
--mots-glossaire: 16px;

    /* Fonts */
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ropa Sans', sans-serif;

    /* Espace */
--space1: 50px;
--space2: 25px;
--space3: 20px;
--space4: 10px;
}